.letter-box {
  width: calc(10% - 1rem);
  background-color: #fcba29;
  padding: 1rem 0rem;
  margin: 0.375rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 600;
}

.success {
  background-color: #10a95b;
}

.failure {
  background-color: #ec5d49;
}
