h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f9f4da;
  margin: 0;
}

p {
  color: #8e8e8e;
  margin: 0;
  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.instructions {
  max-width: 352px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.white {
  color: #f9f4da;
}

.black {
  color: #1e1e1e;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 20rem;
  justify-content: center;
}

.correct-letters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-width: 75rem;
}

.letters-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.5rem 0.5rem; */
  justify-content: center;
}
